
ENTRY_URL=entry.url

STREAMLIT_URL=https://dagystreamlit.entry.url
STREAMLIT_LOGO=static/streamlit.svg

DAGSTER_URL=https://dagydag.entry.url
DAGSTER_LOGO=static/dagster.png

JUPYTER_URL=https://dagyjup.entry.url
JUPYTER_LOGO=static/jupyter.png

GITHUB_URL=https://github.com
GITHUB_LOGO=static/github.svg
GITHUB_LINK=true
